<h2 style="color:blue">
    Información Controller --> View
</h2>
<h2 style="color:fuchsia"> 
    Nombre: @ViewData["NOMBRE"]
</h2>
<h2 style="color:forestgreen">
    Edad: @ViewBag.Edad
</h2>
<h2 style="color:blueviolet">
    Día semana: @ViewBag.DiaSemana
</h2>